<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>bubble-sort graph</title>
  <style>
    .container {
      display: flex;
      align-items: flex-end;
    }
    .box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      margin: 0 10px;
      color: #fff;
      transition: transform .3s ease;
    }
  </style>
</head>
<body>
  <!-- <h1>冒泡排序算法演示</h1> -->
  <div class="container">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
  </div>
  <script>
    let arr = []
    let obj = {}
    let i = 9
    let index = 0
    while (i>0) {
      arr.push(i)
      obj[i] = {
        value: i,
        moved: 0,
        index: index
      }
      i--
      index++
    }
    console.log(arr)
    let colors = ['green', 'blue', 'blueviolet', 'red', 'orangered', 'orchid', 'greenyellow', 'gold', 'orange']

    let $container = document.querySelector('.container')
    let $children = $container.querySelectorAll('.box')
    let boxWidth = $children[0].offsetWidth
    Array.prototype.forEach.call($children, (item, index) => {
      var value = arr[index]
      var color = colors[index]
      item.innerHTML = value
      item.style.background =  color
      item.style.height = 20 + value * 10 + 'px'
    })

    bubbleSort(arr)
    console.log(arr)

    function bubbleSort (array) {
      function swap (array, index1, index2) {
        debugger
        var diff = index2 - index1
        var aux = array[index1]
        array[index1] = array[index2]
        array[index2] = aux
        var moved1 = obj[array[index1]].moved -= 1
        var moved2 = obj[array[index2]].moved += 1
        console.log(moved1, moved2)
        console.log(obj[array[index1]].value, obj[array[index2]].value)
        $children[obj[array[index1]].index].style.transform = `translateX(${60 * moved1}px)`
        $children[obj[array[index2]].index].style.transform = `translateX(${60 * moved2}px)`
      }
      let length = array.length
      for (var i = 0; i < length; i++) {
        for (var j = 0; j < length -1; j++) {
          if (arr[j] > arr[j+1]) {
            swap(array, j, j+1)
            console.log(arr)
          }
        }
      }
    }
    
  </script>
</body>
</html>